.env
back/node_modules
front/node_modules
database

front/.pnp
front/.pnp.js
front/coverage
front/.next/
front/out/
front/build
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/.pnpm-debug.log*
front/.env*.local
front/.vercel
front/*.tsbuildinfo
front/next-env.d.ts
front/.gitignore (END)
